# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/storage/.keep

# Ignore storage files.
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key

/public/assets
.byebug_history

# Ignore test coverage
/coverage

# Ignore gems
/vendor/bundle
Gemfile.lock

# IDE
.idea/
.vscode/
